* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3em;
}

div {
    border: 1px solid black;
    margin: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    margin-bottom: .2em;
}

h2 {
    margin-top: .2em;
}

.container {
    display: flex;
    margin: .5em;
}

#header {
    flex-direction: column;
    border: 1px solid blue;
    text-align: center;
    justify-content: space-evenly;
}

#contact_info {
    padding: .5em 0;
}

#main {
    padding: 1em;
    align-items: stretch;
    justify-content: space-evenly;
    border: 1px solid red;
}

#test {
    width: 50%;
}

#projects {
    width: 50%;
}

#footer {
    justify-content: space-between;
    border: 1px solid green;
}