* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3em;
}

ul {
    list-style: none;
}

.container {
    display: flex;
}

#header {
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}

#main {
    padding: 3em;
    align-items: stretch;
    justify-content: space-around;
    border: 1px solid red;
}

#main div {
    border: 1px solid black;
}

#footer {
    justify-content: space-between;
    border: 1px solid green;
}